<%= form_with model: article do |f| %>
  <div class="form-group">
    <%= f.hidden_field :user_id, value: current_user.id, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <span>タグ</span>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class="form-check">
        <%= tag.label class: 'form-check-label' do %>
          <%= tag.check_box class: 'form-check-input' %>
          <%= tag.text %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :text, '本文' %>
    <%= f.cktext_area :text, class: 'form-control' %>
  </div>
  <div class="form-group">
    <img id="eyecatch_img_prev" src="#" class="hidden" alt="アイキャッチ画像"/>
    <% if article.eyecatch? %>
      <%= image_tag article.eyecatch.to_s, class: 'eyecatch_present_img' %>
      <label><%= f.check_box :remove_eyecatch %></label>

    <% elsif article.tmp_eyecatch? %>
      <%= image_tag article.tmp_eyecatch.to_s, class: 'eyecatch_present_img' %>
      <label><%= f.check_box :remove_tmp_eyecatch %></label>

    <% end %>

    <%= f.label :tmp_eyecatch, 'アイキャッチ画像' %>
    <%= f.file_field :tmp_eyecatch, class: 'post-img'%>
  </div>

  <%= f.submit "更新する", class: 'btn btn-primary' %>
<% end %>

<%= javascript_include_tag 'articles/edit.js' %>