<div class="adsense_images" >
  <%= image_tag '/adsense.jpg' %>
</div>
<h4>人気の記事</h4>
<ul id="article-list">
  <% popular_articles.each do |article| %>
    <li>
      <%= link_to article do %>
        <div class="side_eyecatch_images">
          <% if article.eyecatch.present? %>
            <%= image_tag article.eyecatch.to_s %>
          <% else %>
            <%= image_tag '/no-image.png' %>
          <% end %>
        </div>
        <div class="article_info">
          <h2 class="popular_article_headers"><%= article.title %></h2>
          <span class="article_meta"><%= article.updated_at.strftime("%Y年%m月%d日") %></span>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>