<div id="tag_area" class="row">
  <div class="tag_boxes col-sm-3 col-6">
    <%= link_to image_tag('/ror4.jpg', class: 'tag_img'), articles_path(tag_id: 1) %>
  </div>
  <div class="tag_boxes col-sm-3 col-6">
    <%= link_to image_tag('/ror5.jpg', class: 'tag_img'), articles_path(tag_id: 2) %>
  </div>
  <div class="tag_boxes col-sm-3 col-6">
    <%= link_to image_tag('/python3.jpg', class: 'tag_img'), articles_path(tag_id: 4) %>
  </div>
  <div class="tag_boxes col-sm-3 col-6">
    <%= link_to image_tag('/django2.jpg', class: 'tag_img'), articles_path(tag_id: 5) %>
  </div>
</div>

<h3><%= @list_title %></h3>

<div class="row">
  <div class="col-md-9">
    <ul id="article-list">
      <% @articles.each do |article| %>
        <li>
          <%= link_to article do %>
            <div class="eyecatch_images">
              <% if article.eyecatch.present? %>
                <%= image_tag article.eyecatch.to_s %>
              <% else %>
                <%= image_tag '/no-image.png' %>
              <% end %>
            </div>
            <div class="article_info">
              <h2 class="new_article_headers"><%= article.title %></h2>
              <span class="article_meta"><%= article.updated_at.strftime("%Y年%m月%d日") %></span>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= paginate @articles %>
  </div>

  <div class="col-md-3">
    <%= render partial: 'side_column', locals: { popular_articles: @popular_articles } %>
  </div>
</div>