<div class="card">
  <div class="card-header">
    <h4><%= @article.title %></h4>
    <p><%= @article.user.name %></p>
    <% @article.tags.each do |tag| %>
      <span class="badge badge-primary"><%= tag.name %></span>
    <% end %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= simple_format(@article.text) %></p>
  </div>
  <img src="<%= @article.tmp_eyecatch %>" alt="アイキャッチ画像">
</div>